* {
	/* outline: 1px solid red; */
	---accent-color: #60d15e;
}

body {
	background-color: #111;
	color: #fff;
	font-family: "Roboto Mono", monospace;
	margin: 20px;
}

a {
	color: #fff;
	text-decoration: none;
	transition: color 0.3s;
}

a:hover {
	color: var(---accent-color);
}

h1 {
	font-size: 2rem;
}

h2 {
	font-size: 1.5rem;
}

h1,
h2 {
	color: var(---accent-color);
}

img {
	max-width: 100%;
	border-radius: 16px;
}

.container {
	width: 100%;
	max-width: 800px;
	margin: 0 auto;
	padding: 20px;
}

.subtitle {
	animation: fadein 2s;
}

.header {
	display: flex;
	justify-content: space-between;
	padding: 1rem;
}

.header-links {
	display: flex;
	margin: 1rem;
}

.header-links a {
	margin-right: 1rem;

	transition: all 0.2s;
	transform: scale(1);
}

.header-links a img {
	width: 2rem;
	height: 2rem;
	border-radius: 0;
}

.header-links a:hover {
	transform: scale(1.25);
}

.header-links a:last-child {
	margin-right: 0;
}

.avatar {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	padding: 20px;
	animation: fadein 2s;
}

.frame-container {
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	grid-template-rows: auto;
	display: grid;
	justify-content: center;
	align-items: center;
}

.frame {
	justify-self: stretch;
	align-self: stretch;
	border: 0;
	margin: 8px;
	padding: 20px;
	border-radius: 16px;
	background-color: #222;
	opacity: 0;
}

.gallery-container {
	padding: 10px;
	width: 100%;
	max-width: 75%;
	margin: 0 auto;
	opacity: 0;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(400px, 3fr));
	grid-template-rows: auto;
}

@media screen and (max-width: 800px) {
	.frame-container {
		max-width: 90%;
	}
}

.gallery-container img {
	justify-self: stretch;
	align-self: stretch;
	border-radius: 16px;
	padding: 10px;
}

.gallery-container img {
	margin-bottom: 10px;
}

@keyframes fadein {
	from {
		opacity: 0;
	}
	50% {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

.image-viewer {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.8);
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 1000;
	animation: viewerfadein 0.2s;
}

.image-viewer img {
	max-width: 90%;
	max-height: 90%;
	border-radius: 16px;
}

.fade-out {
	opacity: 0;
	transition: opacity 0.3s ease-in;
}

@keyframes viewerfadein {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
